<h1>お気に入り一覧</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @favorite.each do |favorite| %>
      <% if current_user == favorite.user %>
        <tr>
          <td><%= image_tag favorite.picture.image.url %></td>
          <td><%= favorite.picture.content %></td>
          <td><%= favorite.picture.user.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>